Source: libtimerserial-chipkit
Section: main
Priority: extra
XBSC-Group: Libraries
XBSC-SubGroup: Communication
XBSC-SubSubgroup: Serial
XBSC-Family: pic32
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libtimerserial-chipkit
Architecture: all
Provides: TimerSerial.h
Depends: chipkit, libtimer-chipkit
Description: TimerSerial library for chipkit

